.item{ 
    height: 380px;
    width: 200px;
    margin: 10px 25px;
}

img {
    width: 200px;
    height: auto;
}

.items-prices-old {
    text-decoration: line-through;
    margin: 0;
}

.items-prices-new {
    margin: 0 ;
    color: rgb(42, 115, 225);
    padding-right: 10px;
}

.items p {
    margin: 0;
}

.items-prices {
    display: flex;
}

.items:hover {
    transform: scale(1.05);
    transition: 0.3s;
}